

 h1{
     color: black;
 }
 #login-container {
	 height: 200px;
	 width: 350px;
	 padding: 20px;
	 border-radius: 5px;
	 background: #fffffb;
	 position: relative;
	 box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
 #login-container .profile-img {
    background:white;
	 height: 100px;
	 width: 100px;
	  background-size: cover;
	 background-position: center;
	 position: absolute;
	 top: -25px;
	 left: -25px;
    
background:0e918c;
	 border-radius: 50%;
	 box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.card-img-top{
    
    z-index: 500;
    width:60px;
    height: 70px;
    
}
 #login-container h3 {
	 
	 padding-left: 100px;
	 margin-bottom: 10px;
	 color: #00334e;
}
 #login-container .description {
	 margin-bottom: 5px;
}


 #login-container button:hover {
	 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	 transform: translateY(2px);
	 -webkit-animation: gradientBG 1.5s ease-in-out forwards;
	 animation: gradientBG 1.5s ease-in-out forwards;
	 cursor: pointer;
}
 #login-container button:active {
	 box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	 transform: translateY(4px);
}


 #login-container footer div p:first-child {
	 margin-right: 10px;
	 border-right: 4px solid white;
	 padding-right: 10px;
}
 @-webkit-keyframes gradientBG {
	 0% {
		 background-position: 0% 50%;
	}
	 100% {
		 background-position: 100% 50%;
	}
}
 @keyframes gradientBG {
	 0% {
		 background-position: 0% 50%;
	}
	 100% {
		 background-position: 100% 50%;
	}
}
 